.hoje {
  color: darkblue;
}

.amanha {
  color: darkred;
}

a {
  color: rgb(0, 255, 38);
  text-decoration: none;
}

h2 a {
  color: seagreen;
}

p {
  font-size: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
